.hidden {
    display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 96px 0 96px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
  max-width: 768px;
 }
}

@media screen and (min-width: 1158px) {
.container {
  max-width: 1158px;
  padding: 0 15px;
 }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
 display: none;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}
.contacts {
  display: block;
  font-style: normal;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.header-logo {
  margin-right: 76px;
}
.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-closebtn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-closeicon {
fill: #2e2f42;
}

.mobile-nav {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
gap: 40px;
}

.mobile-item {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.mobile-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 48px;
}

.mobile-contacts-list {
   display: flex;
   flex-direction: column;
gap: 24px;
}

.mobile-contacts-link {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mobile-menu-icons {
  width: 40px;
  height: 40px;
}

.mobile-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.mobile-menu-icon {
  fill: #f4f4fd;
}

.main-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 0px 72px;
  margin: auto;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .main-hero {
  padding: 112px 0px 112px;
  max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
  .main-hero {
  padding: 188px 0px 188px;
  max-width: 1440px;
}
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero-title {
  max-width: 496px;
  margin: 0 auto 36px;
  font-size: 56px;
}
}

@media screen and (min-width: 1158px) {
  .hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
}
}

.order-service-btn {
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus,
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.main-headlines {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.advantages-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.advantages-item {
  width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
  .advantages-list {
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}
}
  .advantages-icons-bckgrnd {
  display: none;
}

@media screen and (min-width: 1158px) {
  .advantages-icons-bckgrnd {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
}
}

.advantages-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.advantages-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
 .advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: start;
}

.advantages-descr {
  font-weight: 400;
}
}

.main-team {
  background-color: #f4f4fd;
}

.team-headlines {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-list {
  gap: 64px 24px;
}
}

@media screen and (min-width: 1158px) {
  .team-list {
  gap: 24px;
}
}

.team-card {
  padding: 32px 0;
}

.team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  fill: #f4f4fd;
}

.porfolio-headlines {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
  gap: 72px 24px;
}
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
  gap: 72px 24px;
}
}
.overlay {
  display: none;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  box-shadow: none;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.footer-logo {
  display: flex;
  justify-content: center;
    margin-bottom: 16px;
}

.footer-social-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-mail {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 108px;
  width: 768px;
}
.footer-logo {
  justify-content: flex-start;
    margin-bottom: 16px;
}
.footer-social-text {
  justify-content: flex-start;
}
}


.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  margin-bottom: 72px;
}


.footer-social {
  width: 320px;
}


.footer-subscr-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-icons {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.footer-icon {
  fill: #f4f4fd;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-email-label {
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: 12px;
  padding-left: 16px;
  font-size: 12px;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
}

.footer-form-input::placeholder {
  color: #fff;
    line-height: 2;
    letter-spacing: 0.04em;
    font-size: 12px;
   opacity: 0.6;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-emailbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-subscr {
  fill: #ffffff;
  margin-left: 16px;
}